<h1 class="animated fadeIn fast">Acerca de Comic App</h1>
<hr>
<p class="animated fadeIn"> 

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius architecto adipisci animi quos fugiat repellat dignissimos tempore, iure voluptatibus illum ut fugit voluptatem saepe nam ea provident vero natus dolorum?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos facere excepturi ea obcaecati soluta ex laboriosam impedit asperiores officia similique cupiditate voluptatum doloremque vel est a maxime eligendi, et architecto!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum beatae, quo consectetur repudiandae dicta optio est corporis incidunt ipsum quisquam dolor deserunt natus, reprehenderit numquam officia neque molestias porro omnis?  

</p>